<?xml version="1.0"?>
<Enemy>
	<still>
		<frameNum>
			4
		</frameNum>
		<frameRate>
			5
		</frameRate>
	</still>
	<walking>
		<frameNum>
			1
		</frameNum>
		<frameRate>
			1
		</frameRate>
	</walking>
	<prejump>
		<frameNum>
			1
		</frameNum>
		<frameRate>
			1
		</frameRate>
	</prejump>
	<jump>
		<frameNum>
			1
		</frameNum>
		<frameRate>
			1
		</frameRate>
	</jump>
	<landing>
		<frameNum>
			1
		</frameNum>
		<frameRate>
			1
		</frameRate>
	</landing>
	<attack>
		<frameNum>
			1
		</frameNum>
		<frameRate>
			1
		</frameRate>
	</attack>
	<die>
		<frameNum>
			1
		</frameNum>
		<frameRate>
			1
		</frameRate>
	</die>
</Enemy>