<?xml version="1.0"?>
<Enemy>
    <EnemyName>
	Slime
    </EnemyName>
    <Animations>
        <Still>
            <frameNum>
                1
            </frameNum>
            <frameRate>
                1
            </frameRate>
        </Still>
        <Walking>
            <frameNum>
                1
            </frameNum>
            <frameRate>
                1
            </frameRate>
        </Walking>
        <Prejump>
            <frameNum>
                1
            </frameNum>
            <frameRate>
                1
            </frameRate>
        </Prejump>
        <Jump>
            <frameNum>
                1
            </frameNum>
            <frameRate>
                1
            </frameRate>
        </Jump>
        <Landing>
            <frameNum>
                1
            </frameNum>
            <frameRate>
                1
            </frameRate>
        </Landing>
        <Attack>
            <frameNum>
                1
            </frameNum>
            <frameRate>
                1
            </frameRate>
        </Attack>
        <Die>
            <frameNum>
                1
            </frameNum>
            <frameRate>
                1
            </frameRate>
        </Die>
    </Animations>
</Enemy>